
<div class="container">
  <div class="row justify-content-center">
    <h1 class="mt-4">Movies from TMDB</h1>
  </div>
  <div class="card-deck mt-4">
    <% @tmdb_movies.each do |movie| %>
     <a href="<%= tmdb_show_path(movie) %>" class="card-link">
      <div class="card mb-6 shadow">
        <img src="<%= 'https://image.tmdb.org/t/p/w500/' + movie['poster_path'] %>" class="card-img-top">
        <div class="card-body text-center"> <!-- Center align card content -->
          <h5 class="card-title"><%= movie['title'] %></h5>
          <p class="card-text"><%= movie['overview'] %></p>
          <p class="card-text"><small class="text-muted"><%= movie['release_date'] %></small></p>
          <p class="card-text"><small class="text-muted">TMDB Rating: <%= movie['vote_average'] %></small></p>
          <% if can? :read, @movie %>
            <a href=<%= new_movie_path(params: movie) %> class="btn btn-success">Add to MovieBox</a>
          <% end %>
          

        </div>
      </div>
    <% end %>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>

<div class="container">
  <div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-6 d-flex align-items-center justify-content-start">
      <h1>Movies from MovieBox</h1>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-end">
     <% if can? :new, @movie %>
      <a href= <%= new_movie_path %> class="btn btn-success">Create New Movie</a>
    <% end %>
    </div>
  </div>
</div>
  <!-- Create New Movie Button -->

  <div class="card-deck mt-4">
    <% @movies.each do |movie| %>
      <a href=<%= movie_path(movie) %> class="card-link">
        <div class="card mb-6 shadow">
          <% if movie.poster.attached? %>
            <img src="<%= url_for(movie.poster) %>" class="card-img-top" alt="...">
          <% else %>
            <img src="<%= url_for(movie.poster_url) %>" class="card-img-top" alt="...">
          <% end %>
          
          <div class="card-body text-center"> <!-- Center align card content -->
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.description %></p>
            <p class="card-text"><small class="text-muted"><%= movie.release_date %></small></p>
            <p class="card-text"><small class="text-muted">MovieBox Rating: <%= movie.moviebox_rating ||= 'Not Available' %></small></p>
            <% if can? :new, @movie %>
              <!-- Edit Button -->
              <a href="<%= edit_movie_path(movie) %>" class="btn btn-primary mr-2">Edit</a>
              <% end %>
              <!-- Show Button -->
              
          </div>
        </div>
        </a>
    <% end %>
  </div>
</div>
