<% content_for :head do %>
  <%= javascript_import_module_tag "youtube" %>
<% end %>
<div class="container">
  <h1 class="mb-4">New Movie</h1>
  <%= form_with(model: @movie, url: movies_path, html: { class: 'row g-3' }) do |form| %>
    <div class="col-md-6">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <!-- Image Upload -->
    <div class="col-md-6">
      <%= form.label :poster, class: 'form-label' %>
      <%= form.file_field :poster, class: 'form-control' %>
    </div>

    <!-- Image URL -->
    <div class="col-12">
      <%= form.label :poster_url, class: 'form-label' %>
      <%= form.text_field :poster_url, class: 'form-control' %>
    </div>

    <%= form.hidden_field :tmdb_id, class: 'form-control' %>

    <div class="col-12">
      <%= form.label :trailer_url, class: 'form-label' %>
      <%= form.text_field :trailer_url, class: 'form-control' %>

      <div class="youtube-trailer-search mt-4">
        <h2>Search for YouTube Trailer</h2>
        <div class="input-group">
          <input type="text" id="youtube-search-query" class="form-control" placeholder="Enter movie name...">
          <button type="button" id="youtube-search-btn" class="btn btn-primary">Search</button>
        </div>
        <div class="youtube-trailer-results mt-4 d-flex flex-nowrap overflow-auto">
        </div>
      </div>
      <!-- Embedded YouTube Player -->
      <div id="youtube-player" class="mt-4">
        
      </div>
      <button id="add-video-link-btn" class="btn btn-primary mt-2">Add Video Link</button>
    </div>

    <div class="col-12">
      <%= form.label :release_date, class: 'form-label' %>
      <%= form.date_field :release_date, class: 'form-control' %>
    </div>

    <div class="col-12">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="col-12">
      <%= form.hidden_field :tmdb_rating, class: 'form-control' %>
    </div>


    <% if @movie.errors.any? %>
      <div class="col-12">
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Validation Error!</h4>
          <ul>
            <% @movie.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="col-12 text-center"> <!-- Center align the buttons -->
      <%= form.submit 'Create Movie', class: 'btn btn-primary mr-2' %>
      <%= link_to 'Back', movies_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
