<div class="container">
  <h1 class="mb-4">New Movie</h1>
  <%= form_with(model: @movie, url: movies_path, local: true, html: { class: 'row g-3' }) do |form| %>
    <div class="col-md-6">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <!-- Image Upload -->
    <div class="col-md-6">
      <%= form.label :poster, class: 'form-label' %>
      <%= form.file_field :poster, class: 'form-control' %>
    </div>

    <!-- Image URL -->
    <div class="col-12">
      <%= form.label :poster_url, class: 'form-label' %>
      <%= form.text_field :poster_url, class: 'form-control' %>
    </div>

    <div class="col-12">
      <%= form.label :trailer_url, class: 'form-label' %>
      <%= form.text_field :trailer_url, class: 'form-control' %>
    </div>

    <div class="col-12">
      <%= form.label :release_date, class: 'form-label' %>
      <%= form.date_field :release_date, class: 'form-control' %>
    </div>

    <div class="col-12">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="col-12 text-center"> <!-- Center align the buttons -->
      <%= form.submit 'Create Movie', class: 'btn btn-primary mr-2' %>
      <%= link_to 'Back', movies_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    const searchButton = document.getElementById('search-movies');

    searchButton.addEventListener('click', function() {
      const searchInput = document.getElementById('movie_search_term').value;
      const searchResultsContainer = document.querySelector('.search-results');

      fetch(`/movies/search?search_term=${searchInput}`, { headers: { accept: "text/html" } })
        .then(response => response.text())
        .then(html => {
          searchResultsContainer.innerHTML = html;
        })
        .catch(error => {
          console.error('Error fetching search results:', error);
          searchResultsContainer.innerHTML = '<p>An error occurred while fetching search results.</p>';
        });
    });
  });
</script>

