<!-- Search form -->
<div class="container">
  <h1 class="mb-4">Movie Search</h1>
  <%= form_tag(search_movies_path, method: :get, class: 'form-inline') do %>
    <div class="form-group">
      <%= text_field_tag(:search_term, params[:search_term], placeholder: 'Enter movie title', class: 'form-control') %>
    </div>
    <%= submit_tag('Search', class: 'btn btn-primary ml-2') %>
  <% end %>
</div>
<div class="container">
  <h1 class="mb-4">Search Results</h1>
    <%=  puts @search_result %>
  <% @search_results.each do |result| %>
    <div class="search-result">
      <h3><%= result["channel_title"] %></h3>
      <p><%= result["description"] %></p>
      <img src="<%= result["thumbnail_url"] %>" alt="Thumbnail">
    </div>
  <% end %>
</div>
