<%= turbo_frame_tag 'form-frame' do %>
  <div class="row">
    <div class="col-md-6">
      <!-- Movie image -->
      <% if @movie.poster.attached? %>
       <%= image_tag @movie.poster, class: "img-fluid mb-4 movie-poster", alt: "Movie Poster" %>
      <% else %>
        <img src="<%= url_for(@movie.poster_url) %> " class="img-fluid mb-4 movie-poster" alt="Movie Poster">
      <% end %>
      <% if @movie.trailer_url.present? %>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
          width="560"
          height="315"
          src=<%= @movie.trailer_url %>
          title=<%= @movie.title %>
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <h1><%= @movie.title %></h1>
      <!-- Movie release date -->
      <p><strong>Release Date:</strong> <%= @movie.release_date %></p>
      <!-- Movie description -->
      <p><strong>Description:</strong> <%= @movie.description %></p>
      <!-- Show comment -->
      <p><strong>Rating on TMDB:</strong> <%= @movie.tmdb_rating || 'Not Available'%></p>
      <!-- Show Review -->
      <p><strong>Rating on MovieBox:</strong> <%= @movie.moviebox_rating || 'Not Available' %></p>
      
      <% if current_user.present? %>
      <%= turbo_frame_tag 'comments-form' do %>
        <%= form_with(model: [@movie, Comment.new], url: movie_comments_path(@movie)) do |form| %>
          <div class="form-group">
            <%= form.label :content %>
            <%= form.text_area :content, class: 'form-control' %>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <%= form.submit 'Add Comment', class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>           
    <% end %>
    <div class="card-body pt-4">
    <%= turbo_frame_tag 'comments-list' do %>
      <!-- Existing comments will be shown here -->
      <% @movie.comments.order(created_at: :desc).each do |comment| %>
        <%= render partial: 'comments/comment', locals: { comment: comment } %>
      <% end %>
    <% end %>
  </div>  
       
  <div class="container-fluid text-dark p-0">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6 w-100">
        <div class="card w-100">
          <div class="card-body pt-4">
            <div class="d-flex flex-start w-100">
            <% if current_user.present? %>
              <div class="w-100" id="reviewFormContainer"> 
                <%= form_with(model: Review.new, url: movie_reviews_path(@movie), data: { controller: 'reviews' }) do |form| %>
                  <h5>Add a review</h5>
                  <ul class="rating mb-3 d-flex p-0">
                    <% (1..5).each do |i| %>
                      <label>
                        <input type="radio" name="review[rating]" value=<%= i %> class="star-input visually-hidden">
                        <i class="star ms-2" data-rating=<%= i ||= 1 %> >&#9733;</i>
                        
                      </label>
                    <% end %>
                  </ul>
                  <div class="form-outline">
                    <label class="form-label" for="textAreaExample">What is your view?</label>
                    <%= form.text_area :content, class: 'form-control', id: 'textAreaExample', rows: 2 %>
                  </div>
                  <div class="d-flex justify-content-end mt-3">
                    <%= form.submit 'Submit', class: 'btn btn-primary mb-4' %>
                  </div>
                  <div id="validationMessage" class="text-danger"></div>
                <% end %>
              <% end %>
              </div>
            </div>

            <% @movie.reviews.each do |review| %>
              <div class="review">
                <div class="rating">
                  <div class="d-flex flex-row align-items-center">
                            <% if review.user.profile_picture.attached? %>
                              <img class="rounded-circle shadow-1-strong" src=<%= url_for(review.user.profile_picture)%> alt="avatar" width="25" height="25"/>
                            <% end %>
                            <p class="small mb-0 ms-2 me-2"><%= review.user.name %></p>
                          </div>
                  <% (1..5).each do |i| %>

                    <% if i <= review.rating ||= 1 %>
                      <span class="star highlighted">&#9733;</span>
                    <% else %>
                      <span class="star">&#9734;</span>
                    <% end %>
                  <% end %>
                </div>
                <p><%= review.content %></p>
              </div>
            <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  </div>
</div>
<% end %>
